# Core functionality - changes here should be rare!
/src/app.py                   @MihaiSirbu
/src/backend/database.py      @MihaiSirbu
/src/backend/routers/auth.py  @MihaiSirbu

# The frontend will need refactored soon to be more object oriented.
/src/static/   @MihaiSirbu
